extends layout 

block content 

  h1= `Edit ${objective.text}`
  form(action=`/goals/${objective.goal.id}/objectives/${objective.id}?_method=PUT` method="POST") 
      label(for="text") Text
      textarea(name="text" id="text")= objective.text
      input(type="submit" value="Save")