doctype html
html
  head
    title= title
    link(rel="preconncect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap") 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
