include mixins/icons/_house

doctype html
html
  head
    title= title
    link(rel="preconncect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap") 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      a(href="/")
        +house
    block content
    .narrow-content
      block narrow-content
    block messages 
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories 
          each message in flashes[category]
            p= message
