@import './variables.css';

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--text-base);
    background-color: var(--backgroundColor);
    margin: var(--sp-1) auto;
    padding: 0 var(--sp-3);
    max-width: 1200px;
}

a {
    color: var(--linkColor);
}

#goals-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--sp-3);
    padding-left: 0;
}

#goals-list > li {
    list-style-type: none;
}

#goals-list a {
    text-decoration: none;
}

.goal-card {
    border: 1px solid #000;
    border-radius: 15px;
    padding: var(--sp-9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-3xl);
}

.objectives-list {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--sp-1);
}

.objectives-list > li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--cardBg);
    border-radius: 15px;
    padding: var(--sp-3);
}

.objective-actions {
    display: flex;
}

.badge {
    background-color: var(--green);
    color: var(--textReverse);
    border-radius: 8px;
    padding-left: var(--sp-2);
    padding-right: var(--sp-2);
}

.badge-sm {
    font-size: var(--text-base);
}
